.all-products-parentContainer {
  margin: 0.5em 0 0 2em;
  width: 100%;
  position: relative;
}
.shortcut-icons {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  padding: 0.5em;
}
.addToCart-Btn,
.add-removeToWishlist-Btn {
  font-size: 1.7rem;
  color: #808080;
  transition: all 200ms ease-in-out;
}
.addToCart-Btn:hover,
.add-removeToWishlist-Btn:hover {
  transform: scale(1.15);
  color: #373737;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 1.5em;
}
.pagination button:disabled {
  background-color: lightgray;
  color: gray;
  cursor: not-allowed;
}
.first-page,
.last-page {
  cursor: pointer;
  all: unset;
  display: flex;
}
.first-pagebtn,
.last-pagebtn {
  all: unset;
  background-color: #db4444;
  color: #fff;
  padding: 0.4em 1.5em;
  cursor: pointer;
}
.first-page-icon,
.last-page-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
