.product-byCategory {
  margin: 0.5em 0 0 2em;
  position: relative;
}
.loading {
  margin: 1em 0 0 1em;
  color: #db4444;
  height: 100vh;
  width: 100%;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}
.product-container a {
  text-decoration: none;
}
.product-card {
  position: relative;
  cursor: pointer;
  border: 1px solid #eae7e7;
  border-radius: 10px;
  overflow: hidden;
}

.product-img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.product-title {
  color: #000000;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  font-weight: 500;
}

.product-details {
  padding: 0.5em;
}
.discount {
  position: absolute;
  top: 2%;
  left: 3%;
  background-color: #db4444;
  color: #fff;
  padding: 0.5em;
  border-radius: 6px;
  text-align: center;
  font-size: 0.8rem;
}
.price {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1em;
}
.price,
.rating {
  color: #db4444;
}
.category-name {
  text-align: center;
  color: #db4444;
  font-size: 1.5rem;
  margin: 1em 0;
}
.search {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: end;
  gap: 0.3em;
}
.search label {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: #4a4646;
}
.search input {
  outline: none;
  border: 1px solid rgb(138, 133, 133);
  height: 25px;
  border-radius: 6px;
  padding-left: 0.3em;
}
.search input::placeholder {
  font-size: 0.8rem;
  padding-left: 0.3em;
}

@media screen and (max-width: 400px) {
  .product-byCategory {
    margin: 0 1em;
  }
  .loading {
    font-size: 1rem;
    text-align: center;
    height: 100vh;
    width: 100%;
  }
  .category-name {
    margin: 0.5em;
  }
}
