.product-byCategory {
  margin: 0.5em 0 0 12em;
}
.loading {
  margin: 1em 0 0 7em;
  color: #d9ab6e;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
}
.product-container a {
  text-decoration: none;
}
.product-card {
  position: relative;
  width: 250px;
  height: 340px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  border: 2px solid #d2bb9d;
}
.product-card:hover {
  border-color: #bf955a;
}
.product-img {
  width: 100%;
  height: 75%;
}
.product-title {
  color: #373737;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

.product-details {
  padding: 0 0.5em 0.5em 0.5em;
}
.discount {
  position: absolute;
  top: 2%;
  left: 3%;
  background-color: #db4444;
  color: #fff;
  padding: 0.5em;
  border-radius: 6px;
  text-align: center;
  font-size: 0.8rem;
}
.price {
  font-weight: 600;
}
.price,
.rating {
  color: #ba7008;
}
.category-name {
  text-align: center;
  color: #d9ab6e;
  font-size: 1.5rem;
}
.search {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: end;
  gap: 0.3em;
}
.search label {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: #e29736;
}
.search input {
  outline: none;
  border: none;
  height: 25px;
  border-radius: 6px;
  padding-left: 0.3em;
}
.search input:focus {
  border: 1px solid #835315;
}
.search input::placeholder {
  font-size: 0.8rem;
  padding-left: 0.3em;
}
