.wishlist-container {
  padding: 8em 17em;
}
.wishlist-container h1 {
  color: #db4444;
  margin-bottom: 0.5em;
}
.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}
.wishlist-card {
  border: 1px solid #eae7e7;
  border-radius: 10px;
  position: relative;
}
.wishlist-img-container {
  height: 300px;
  cursor: pointer;
}
.wishlist-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.wishlist-moveToCart {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}
.move-tocart-icon,
.remove-icon {
  font-size: 1.7rem;
  color: #808080;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.move-tocart-icon:hover {
  transform: scale(1.15);
  color: #373737;
}
.wishlist-price {
  color: #db4444;
  font-size: 0.9rem;
  font-weight: 500;
}
.wishlist-title {
  color: #373737;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  font-weight: 500;
  cursor: pointer;
}
.wishlist-details {
  line-height: 1.5em;
  padding: 0.5em;
}
.wishlist-discount {
  position: absolute;
  top: 2%;
  left: 3%;
  background-color: #db4444;
  color: #fff;
  padding: 0.5em;
  border-radius: 6px;
  text-align: center;
  font-size: 0.8rem;
}
.empty-wishlist {
  text-align: center;
  padding: 2em 0;
}
.empty-wishlist img {
  width: 15%;
}
.empty-wishlist h2 {
  font-size: 1rem;
  color: #808080;
  margin: 1em 0;
}
