.all-products-parentContainer {
  margin: 0.5em 0 0 2em;
  width: 100%;
}
.shortcut-icons {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  padding: 0.5em;
}
.addToCart-Btn,
.addToWishlist-Btn {
  font-size: 1.7rem;
  color: #808080;
  transition: all 200ms ease-in-out;
}
.addToCart-Btn:hover,
.addToWishlist-Btn:hover {
  transform: scale(1.15);
  color: #373737;
}
