@media screen and (min-width: 320px) {
  .ecom-banner {
    width: 100%;
    height: 200px;
  }
  .banner-btn {
    bottom: 15%;
    text-align: center;
    right: 5%;
    border: 2px solid #fff;
    border-radius: 30px;
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 550px) {
  .banner-btn {
    bottom: 15%;
    right: 8%;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1440px) {
  .ecom-banner {
    width: 100%;
    height: 400px;
  }
  .banner-btn {
    bottom: 15%;
    right: 10%;
    border-radius: 40px;
    font-size: 1.2rem;
  }
}
