.mobile-categories {
  display: none;
}

@media screen and (max-width: 400px) {
  .mobile-categories {
    text-align: center;
  }
  .show-select {
    display: block;
  }
  .mobile-categories label {
    font-size: 0.8rem;
    margin-right: 0.5em;
  }
  .mobile-categories {
    margin: 1em 0;
  }
  .mobile-categories select {
    outline: none;
  }
}
