.contact-container {
  display: flex;
  align-items: center;
  gap: 5em;
  padding: 8em 17em;
  height: 70.5vh;
}
.contact {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}
.contact h3 {
  font-weight: 500;
}
.contact-details {
  padding: 1.7em;
  border-radius: 6px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.contact-details > div:nth-child(1) {
  border-bottom: 1px solid #808080;
  padding: 0.5em 0 1.5em;
}
.contact-details > div:nth-child(2) {
  padding: 1.5em 0 0.5em;
}
.contact-form {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  border-radius: 6px;
}
.input-container {
  display: flex;
  gap: 1em;
}
.input-container input {
  all: unset;
  padding: 0.5em;
  font-size: 1rem;
  width: 100%;
  border-radius: 6px;
  background-color: #f5f5f5;
}
.contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5em;
  background-color: #f5f5f5;
  font-size: 1rem;
  height: 200px;
  min-height: 200px;
  max-height: 250px;
  resize: vertical;
}
.send {
  text-align: end;
}
.send-btn {
  all: unset;
  background-color: #db4444;
  color: #fff;
  padding: 0.8em 2.7em;
  border-radius: 3px;
  font-size: 0.8rem;
  cursor: pointer;
}
.contact-logo {
  background-color: #db4444;
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 1.3rem;
}
.contact-details p {
  font-size: 0.8rem;
}
.email-number {
  line-height: 25px;
}
