.main {
  /* margin: 7em 17em; */
  position: relative;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 515px;
  gap: 1.5em;
}
.mobile-none {
  display: none;
  height: 100%;
  width: 100%;
}
.mobile-none > div {
  height: 50%;
}
.mobile-none img {
  height: 100%;
  width: 100%;
}
.firstbanner-img {
  height: 100%;
  width: 100%;
  position: relative;
}
.iphone-img-container,
.iphone-img-container img {
  height: 100%;
  width: 100%;
}
.home-nav {
  display: flex;
  flex-direction: column;
}
.home-nav a {
  text-decoration: none;
  color: #665353;
}
.show-now {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.shopnow-btn-container {
  position: absolute;
  bottom: 2%;
  left: 5%;
  display: flex;
  align-items: center;
  gap: 0.3em;
  color: #faebd7;
  text-decoration: none;
}
.shopnow-btn {
  color: #faebd7;
  font-size: 1.5rem;
  text-decoration: none;
}
.shopnow-btn:hover {
  text-decoration: underline;
}

/* hero img */
.hero-main {
  display: flex;
  gap: 1.5em;
  height: 500px;
  width: 100%;
}
.firstImg-container {
  height: 100%;
  position: relative;
}
.secondImg-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: 100%;
  position: relative;
}

.hero-img3 {
  height: 100%;
  border-radius: 3px;
}
.hero-img1,
.hero-img2 {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in;
  width: 100%;
  border-radius: 3px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 47%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in;
  width: 100%;
  z-index: 1;
  border-radius: 3px;
}
.overlay2 {
  background-color: rgba(0, 0, 0, 0.4);
  height: 47.5%;
  left: 0;
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease-in;
  width: 100%;
  z-index: 1;
  border-radius: 3px;
}
.hero-overlay:hover,
.overlay:hover,
.overlay2:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.each-container {
  height: 100%;
}
.each-container,
.firstImg-container {
  cursor: pointer;
}
.arrow {
  animation: arrowAnimation 1s linear infinite;
  font-size: 2rem;
}
@keyframes arrowAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the shake animation to an element */
.shake-element {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
