.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 17em;
  padding: 0 0em;
}

.swiper-img {
  width: 100%;
}
.home-nav {
  display: flex;
  flex-direction: column;
}
.home-nav a {
  text-decoration: none;
  color: #665353;
}
