@media screen and (min-width: 320px) {
  .product-in-category {
    flex-direction: column;
    padding: 7em 0 3em;
    margin: 0;
  }
  .message-notif {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .product-in-category {
    padding: 5em 5em;
    display: flex;
    flex-direction: row;
  }
}
