header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 17em;
  border-bottom: 1px solid rgb(189, 172, 172);
}
header h1 {
  color: rgb(102, 83, 83);
  font-weight: 700;
}
header a {
  text-decoration: none;
  color: rgb(102, 83, 83);
}
header nav {
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  gap: 1em;
}
header nav ul li {
  list-style: none;
}
.header-cart-save-container {
  display: flex;
  align-items: center;
  gap: 2em;
  color: rgb(102, 83, 83);
}
.header-cart-save-container h3 {
  display: flex;
  align-items: center;
  font-size: 1.3em;
}
