.each-productContainer {
  margin: 1em 13em;
  display: flex;
  gap: 1em;
}
.main-img-container {
  height: 500px;
  width: 500px;
}
.main-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.swiper-container {
  margin-top: 1em;
  width: 50%;
  display: flex;
  gap: 0.5em;
}
.product-specs {
  background-color: rgb(244, 235, 235);
  padding: 1em;
}
.images-container {
  width: 500px;
}

.each-slide-img {
  width: 20%;
  object-fit: contain;
  cursor: pointer;
}
.each-slide-img:hover {
  outline: 1px solid #897777;
}
.add-outline {
  outline: 1px solid #897777;
}

.out-of-stock {
  color: #db4444;
}
.in-stock {
  color: green;
  font-weight: 600;
}
.each-price {
  font-size: 1rem;
}
/* buy - cart button */
.cartbuy-btn {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 2.5em;
}
.addtocart-btn {
  all: unset;
  padding: 0.8em 1.7em;
  color: #000000;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in;
  outline: 1px solid #000000;
}
.buynow-btn {
  all: unset;
  color: #fff;
  background-color: #e74c17;
  padding: 0.8em 2.5em;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font-weight: 600;
}
.buynow-btn:hover {
  background-color: transparent;
  color: #e74c17;
  outline: 1px solid #e74c17;
  font-weight: 600;
}
.addtocart-btn:hover {
  background-color: #000000;
  color: #fff;
}

/* quantity starts */
.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 3em 0;
}
.cart-count-container {
  display: flex;
  align-items: center;
  gap: 1em;
  outline: 1px solid #222;
}
.quantity-add,
.quantity-minus {
  all: unset;
  padding: 0.5em 1em;
  cursor: pointer;
}
.quantity-add {
  border-left: 1px solid #373737;
}
.quantity-minus {
  border-right: 1px solid #373737;
}
.cart-quantity {
  font-weight: 600;
}
