.burger-nav {
  padding: 2em;
  position: fixed;
  z-index: 1000001;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 100%;
  width: 100%;
  top: 0;
  transition: all 300ms ease-in-out;
  transform: translateX(100%);
}
.burger-nav li {
  list-style: none;
}
.burger-nav a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 500;
  color: #373737;
}
.burger-nav a:active {
  color: #db4444;
}
.burger-nav button {
  all: unset;
  position: absolute;
  font-size: 3rem;
  top: 10px;
  right: 20px;
}
.show-menu {
  transform: translateX(0);
}
