/* Add custom styles to the pagination container */
.swiper-pagination {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
}

/* Style the individual pagination dots */
.swiper-pagination-bullet {
  background-color: #0c0b0b; /* Change the background color */
  border-radius: 50%; /* Make the dots round */
  cursor: pointer;
}

/* Style the active pagination dot */
.swiper-pagination-bullet-active {
  background-color: #222; /* Change the active dot color */
}
.mySwiper {
  width: 100%;
}
.show-now {
  background-color: #b58649;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.show-now a {
  color: #faebd7;
  font-size: 2rem;
  text-decoration: none;
}
.show-now a:hover {
  text-decoration: underline;
}
.arrow {
  color: #faebd7;

  font-size: 2rem;
  display: flex;
}
.carousel1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
