.myFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  background-color: #282828;
  color: #808080;
}
.socials-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.socials-icon {
  font-size: 2rem;
  margin-bottom: 0.5em;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.socials-icon:hover {
  transform: scale(1.1);
  color: #fff;
}
.myFooter small {
  font-size: 1.2rem;
  font-weight: 600;
}
.fixed,
.navFixed,
.contactFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
}
