.related-products-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2em;
}
.related-products-container a {
  text-decoration: none;
  color: #373737;
}
.topic-related-products {
  margin: 7em 0 2em;
  color: #db444d;
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.thumbnail {
  object-fit: contain;
}
.related-card {
  position: relative;
  cursor: pointer;
  border: 2px solid #808080;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
