.related-products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}
.related-products-container a {
  text-decoration: none;
  color: #373737;
}
.topic {
  margin: 7em 0 2em;
  color: #db444d;
}
